body{
    font-family: 'Times New Roman', Times, serif;
}
.container{
    text-align: center;
    padding:5px 10px ;


}
#task-list{
    list-style-type: none;
    padding: 0;
    margin:20px auto;
    width: 250px;
}
#task-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.task-button{
    display:flex;
    gap:8px;
}
.Completed_task{
    text-decoration: line-through;
    color: gray;
}

.Completed_task button {
    text-decoration: none;
}